extends layout

block content
 .jumbotron
        h1 Welcome to BookClub!
        p.lead
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-lg.btn-success(href='/fb', role='button', target="_top") Sign up today
      .row.marketing
        div#genres.col-lg-6
          h4 Loading...

 script#genreTemplate
    <h4> #= Name # </h4>
    <p> #= Description # </p>
    
  